name: Pylint

on:
  workflow_dispatch:

  push:
    branches: [ main ]
    paths:
      - 'src/**'
      - '.github/workflows/pylint.yml'
      - '.pylintrc'
      - 'requirements.txt'

  pull_request:
    branches: [ main ]
    paths:
      - 'src/**'
      - '.github/workflows/pylint.yml'
      - '.pylintrc'
      - 'requirements.txt'

jobs:
  pylint:
    uses: MAK-Relic-Tool/Workflows/.github/workflows/pylint.yml@main
    with:
      path: "src"